body{
    background-color:black;

}




.container2{
    background-color:grey;
    width:840px;
    height:144px;
    margin-left:-19px;
}



.MOVIESLINK{
    height:300px; 
    width:800px;

}








.container {
    height:255px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White background for student profiles */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }